@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="button">
    <p class="btn"><span>小学微算</p>
    <p class="b"><span>帮助</p>

    <p class="bt"><span>用户登录</p>
    <img src="~/Content/images/2222.jpg" class="mn">
    <img src="~/Content/images/2.jpg" class="nn">
    <img src="~/Content/images/3.jpg" class="ss">
    <div class="tu">
        <p class="lp"><span>用户选择进入系统</p>
        <div class="one">
            <button type="button" class="btn btn-success">学生进入</button>
        </div>
        <div class="two">
            <button type="button" class="btn btn-success">老师进入</button>
        </div>

        <div class="three">
            <button type="button" class="btn btn-success">家长进入</button>
        </div>
    </div>
</div>
