
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<div class="button">
    <p class="btn"><span>小学微算</p>
    <p class="b"><span>帮助</p>
    <p class="bt"><span>用户已登录</p>
    <img src="~/Content/images/2222.jpg" class="mn">
    <img src="~/Content/images/2.jpg" class="nn">
    <img src="~/Content/images/3.jpg" class="ss">

    <div class="exercise">
        <button type="button" class="btn btn-success">练习</button>
    </div>

    <div class="examination">
        <button type="button" class="btn btn-success">考试</button>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default">默认</button>
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">切换下拉菜单</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">功能</a></li>
            <li><a href="#">另一个功能</a></li>
            <li><a href="#">其他</a></li>
            <li class="divider"></li>
            <li><a href="#">分离的链接</a></li>
        </ul>
    </div>
</div>